<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="navbar">
 	{% for item in site.data.navbar.navbar %}
 		{% if item.subItems == null %}
			<a href="{{ item.url }}">{{ item.title }}</a>
 		{% else %}
 			<div class="dropdown">
	    		<button class="dropbtn">{{ item.title }}
	     			 <i class="fa fa-caret-down"></i>
	    		</button>
	 			<div class="dropdown-content">
	 				{% for entry in item.subItems %}
	 					<a href="{{ entry.url }}">{{ entry.title }}</a>
	 				{% endfor %}
			    </div>
		    </div>
 		{% endif %}
 	{% endfor %}
</div>

<style type="text/css">
/* Navbar container */
.navbar {
  overflow: hidden;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 13px 16px 15px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.dropdown .dropbtn .fa {
  padding-left: 3px;
}

/* Add a blue background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #0090ff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 
</style>